.bloglist {
    width: 100%;
    padding-bottom: 56.25%;
    margin: auto; 
    border-radius: 8px; 
    background-position: center !important;
    background-size: 100% 100% !important; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 8px;
}

@media(min-width:0px) and (max-width : 768px) {
    .bloglist-description {
        position:absolute; 
        width: 95%; 
        height: 1%;
        bottom: 50px;
        background-color:rgba(255,255,255,0.8);  
        border-radius: 4px;
        overflow: hidden;
        transition-timing-function: ease-in; 
    }
}

@media(min-width:768px) {
    .bloglist-description {
        position:absolute; 
        width: 95%; 
        height: 1%;
        bottom: 70px;
        background-color:rgba(255,255,255,0.8);  
        border-radius: 4px;
        overflow: hidden;
        transition-timing-function: ease-in; 
    }
}

.bloglist:hover .bloglist-description {
    -webkit-animation-name: enlarge;
    animation-name: enlarge;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes enlarge {
    0%   { height:5%; }
    100% { height:30%; }
}

.bloglist-infobox {
    width: 100%;
    height: 35px;
    margin: auto; 
    border-radius: 8px; 
    background-color: rgb(240,240,240);
    margin-bottom: 5px; 
}

.bloglist-title {
    color: white; 
    padding-left: 20px; 
    padding-top: 20px;
    font-weight: 700; 
    text-shadow: 3px 3px 1px rgba(0,0,0,0.35);
}

.inline {
    display: inline;
}

.center {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.default-link{
  /* all rules required to make the whole div clickable */ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* this is a fix for IE7-9 */
  background-color:#ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
  filter: alpha(opacity=0);  
  opacity:0;  
}

.alert-box {
    width: 100%;
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f03b09), color-stop(1, #ff1e00));
	background:-moz-linear-gradient(top, #f03b09 5%, #ff1e00 100%);
	background:-webkit-linear-gradient(top, #f03b09 5%, #ff1e00 100%);
	background:-o-linear-gradient(top, #f03b09 5%, #ff1e00 100%);
	background:-ms-linear-gradient(top, #f03b09 5%, #ff1e00 100%);
	background:linear-gradient(to bottom, #f03b09 5%, #ff1e00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f03b09', endColorstr='#ff1e00',GradientType=0);
	background-color:#f03b09;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}

.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:13px 34px;
	text-decoration:none;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.button:active {
	position:relative;
	top:1px;
}

.disabled {
    color: lightgray;
    background-color:grey;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, grey), color-stop(1, grey));
	background:-moz-linear-gradient(top, grey 5%, grey 100%);
	background:-webkit-linear-gradient(top, grey 5%, grey 100%);
	background:-o-linear-gradient(top, grey 5%, grey 100%);
	background:-ms-linear-gradient(top, grey 5%, grey 100%);
	background:linear-gradient(to bottom, grey 5%, grey 100%);
}

.disabled:hover {
    color: lightgray;
    background-color:grey;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, grey), color-stop(1, grey));
	background:-moz-linear-gradient(top, grey 5%, grey 100%);
	background:-webkit-linear-gradient(top, grey 5%, grey 100%);
	background:-o-linear-gradient(top, grey 5%, grey 100%);
	background:-ms-linear-gradient(top, grey 5%, grey 100%);
	background:linear-gradient(to bottom, grey 5%, grey 100%);
}

.disabled:active {
    color: lightgray;
    background-color:grey;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, grey), color-stop(1, grey));
	background:-moz-linear-gradient(top, grey 5%, grey 100%);
	background:-webkit-linear-gradient(top, grey 5%, grey 100%);
	background:-o-linear-gradient(top, grey 5%, grey 100%);
	background:-ms-linear-gradient(top, grey 5%, grey 100%);
	background:linear-gradient(to bottom, grey 5%, grey 100%);
    top:0px;
}