<html>
<head>
    <title>My Blog</title>
    {% extends html/layout.html %}
</head>

<body id="body" onload="prettyPrint()">
    
    {% extends html/nav.html %}
    
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>{{title}}</h1>
                <p>Welcome to my blog!</p>
            </div>
        </div>
    </header>
    <hr class="heavy">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{title}}</h2> - <h3>{{date}}</h3>
                <hr class="heavy">
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>{{ blogText }}</p>
            </div>  
        </div>
    </div>
    
    <script>
        $("#body").find("pre").addClass('prettyprint');
        
        var img = "{{image}}";
        $("header").css('background-image', 'url('+img+')');
    </script>
</body>

