<html>
<head>
    <title>Kiiskinen - Blog</title>
    {% extends html/layout.html %}
    <script src="web/js/unravel.js"></script>
</head>

<body id="body" onload="prettyPrint()">
    
    {% extends html/nav.html %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="title">Kiiskinen - Blog</h1>
                <p>This is my blog, where I write stuff about technology and well other stuff.</p>
                <p>My views are my own, and do not represent views of company where I might work.</p>
                <p>Don't take anything too seriously. ♥</p>
            </div>
        </div>
    </header>
    <hr class="heavy">
    
    <div id="blogs" ng-controller="blogController">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"  ng-repeat-start="item in blogPost">
             
                    <div class="bloglist" style="background:url({{item.image}});">     
                        <a class='default-link' href="blog/{{item.title}}"></a>
                    
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="bloglist-title">{{item.title}}</h1>
                            </div>
                        </div>
                        
                        <div class="bloglist-description">
                            <div class="text-center">
                                <p class="inline">{{ item.description | limitTo: 325 }}</p>
                                <a href="blog/{{item.title}}">Read more...</a>
                            </div>
                        </div>
                    </div>
                
                    <div class="text-center bloglist-infobox">
                        <i class="fa fa-calendar"></i> <p class="inline">{{ item.date | date: 'dd.MM.yyyy HH:mm' }}</p>
                        <i class="fa fa-folder-open"></i> <p class="inline">{{ item.category }}</p>
                        <i class="fa fa-tags" ng-repeat-start="tag in item.tags">{{ tag }}</i>
                        <div class="inline" ng-repeat-end></div>
                    </div>

                    <hr class="heavy">
                </div>
                <div ng-repeat-end></div>
            </div>
        </div>
    </div>
    
    <script>
        var app = angular.module('myApp', []);
        app.controller('blogController', function($scope, $http) {  
            $http.get("get-blogs")
            .then(function(response) {
                $scope.blogPost = response.data;
                $("#body").find("pre").addClass('prettyprint');
            });
        });

        angular.bootstrap(document.getElementById('blogs'), ['myApp']);
        unravelText("Kiiskinen - Blog", "#title");
    </script>
    <script src="/web/js/creative.js"></script>
</body>

