<html manifest="/web/manifest.appcache">
<head>
    <title>Kiiskinen - Blog</title>
    {% extends html/layout.html %}
    <script src="web/js/unravel.js"></script>
</head>

<body id="body" onload="prettyPrint()">
    
    {% extends html/nav.html %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="title">Kiiskinen - Blog</h1>
                <p id="desc1">This is my blog, where I write stuff about technology and well other stuff.</p>
                <p id="desc2">My views are my own, and do not represent views of company where I might work.</p>
                <p id="desc3">Don't take anything too seriously. ♥</p>
            </div>
        </div>
    </header>
    <hr class="heavy">
    
    <section id="blogs" ng-controller="blogController">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-6"  ng-repeat-start="item in blogPost">
                        <div style="position:relative">
                            <div class="bloglist" style="background:url({{item.image}});">     
                                <a class='default-link' href="blog/{{item.title}}"></a>
                            
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1 class="bloglist-title">{{item.title}}</h1>
                                    </div>
                                </div>
                                
                                <div class="bloglist-description">
                                    <div class="text-center">
                                        <p class="inline">{{ item.description | limitTo: 325 }}</p>
                                        <a href="blog/{{item.title}}">Read more...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="text-center bloglist-infobox">
                            <i class="fa fa-calendar"></i> <p class="inline">{{ item.date | date: 'dd.MM.yyyy HH:mm' }}</p>
                            <i class="fa fa-folder-open"></i> <p class="inline"><a class="pointer" ng-click="getByCategory(item.category)">{{ item.category }}</a></p>
                            <i class="fa fa-tags" ng-repeat-start="tag in item.tags"><code><a class="pointer" ng-click="getByTag(tag)">{{ tag }}</a></code></i>
                            <div class="inline" ng-repeat-end></div>
                        </div>

                        <hr class="heavy">
                    </div>
                    <div ng-repeat-end></div>
                </div>
                <div class="col-xs-2 hide-sm">
                    <aside>
                        <h4>Category</h4>
                        <ul id="categories">
                        </ul>
                        <hr />
                        <h4>Tag</h4>
                        <ul id="tags">
                        </ul>
                    </aside>
                </div>
                <div id="pages" class="col-md-10 text-center">
                    
                </div>
            </div>
        </div>
    </section>
    
    <script>

        var categoryList = {{ categories }};
        for (var category in categoryList) {
          $("#categories").append("<li><a class=\"pointer\" ng-click=\"getByCategory(\'"+ category +"\')\">"+ category +" (" + categoryList[category] + ")</a></li>");
        }

        var tags = {{ tags }};
        for (var tag in tags) {
          $("#tags").append("<li><a class=\"pointer\" ng-click=\"getByTag(\'"+ tag +"\')\">"+ tag +" (" + tags[tag] + ")</a></li>");
        }

        var app = angular.module('myApp', []);
        app.controller('blogController', function($scope, $http, $compile) {  
            
            $scope.getBlogs = function (page = 0) {
                $http.get("get-blogs?page=" + page)
                .then(function(response) {
                    $scope.blogPost = response.data.blogs;
                    generatePageLinks("getBlogs", response.data.pagesCount);
                });
            }

            $scope.getByCategory = function (category, page = 0) {
                $http.get("get-blogs-category?category="+category+"&page="+page)
                .then(function(response) {
                    $scope.blogPost = response.data.blogs;
                    generatePageLinks("getByCategory", response.data.pagesCount, category);
                });
            }

            $scope.getByTag = function (tag, page = 0) {
                $http.get("get-blogs-tag?tag=" + encodeURIComponent(tag))
                .then(function(response) {
                    $scope.blogPost = response.data.blogs;
                    generatePageLinks("getByTag", response.data.pagesCount, tag);
                });
            }

            function generatePageLinks(url, pageCount, data = null) {
                $("#pages").empty();
                for(var i = 1; i < pageCount + 1; i++) {
                    
                    if (!data)  {
                        var $link = $("<a class=\"pointer pageLink\" ng-click=\""+url+"("+ i +")\"><h4 class=\"inline\">"+ i +"</h4></a>").appendTo("#pages");
                    }
                    else { 
                        var $link = $("<a class=\"pointer pageLink\" ng-click=\""+url+"(\'"+ data +"\',"+ i + ")\"><h4 class=\"inline\">"+ i +"</h4></a>").appendTo("#pages");
                    }

                    $compile($link)($scope);
                }
            }
        });

        angular.bootstrap(document.getElementById('blogs'), ['myApp']);
        angular.element(document.getElementById('blogs')).scope().getBlogs(1);
        unravelText("Kiiskinen - Blog", "#title", 80);
    </script>
    <script src="/web/js/creative.js"></script>
</body>

