<html>
<head>
    <title>Kiiskinen - Admin</title>
    {% extends views/layout.html %}
</head>
<body id="body">
{% extends views/nav.html %}
    
<br><br><br>
<section class="container">
    <div class="row">
        <div class="col-xs-12" id="blogsList" ng-controller="blogController">
            <div class="col-xs-4 text-center">
                <a href="/admin/blog-add">
                    <div class="button-add">
                        <div class="padding-top:50px;">
                            <h2>New blog</h2>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <i class="fa fa-file-o fa-2x" aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-4 text-center">
                <storng>Views per blog</storng>
                <canvas id="allVisitsPieChart" height="150"></canvas>
            </div>

            <div class="col-xs-4 text-center">
                <canvas id="allVisitsLineChart" height="150"></canvas>
            </div>

            <div id="blogBox{{$index}}" index="{{$index}}" class="col-xs-8 box" style="box-sizing: border-box;padding:0;"  ng-repeat-start="item in blogPosts">
                <div class="col-xs-12 dashboardStyle" style="background:url({{item.image}});    background-size: cover; background-position: center;">
                    <div class="col-xs-10">
                        <h2 style="float:left;margin-top:5px;">{{item.title}}</h2>
                    </div>
                    <div class="col-xs-10">
                        <p>{{item.description}}</p>
                    </div>

                    <div class="col-xs-2">
                        <a href="/admin/blog-delete?id={{item._id}}">
                            <span class="fa fa-3x fa-times pull-right"></span>
                        </a>
                        <a href="/admin/blog-edit?id={{item._id}}">
                            <span class="fa fa-3x fa-pencil pull-right"></span>
                        </a>
                    </div>
                    <div class="col-xs-12 text-center" style="margin-top:15px;">
                        <strong>
                            <i class="inline">{{ item.date | date: 'dd.MM.yyyy HH:mm' }} - </i>
                                <span class="fa fa-eye"></span> 
                            <i class="inline">{{item.visits.length}}</i>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                 <canvas id="myChart{{$index}}" height="150"></canvas>
             </div>
            <div ng-repeat-end></div>
        </div>
    </div>
</section>
</body>
</html>

<script>
    var ngController, scope;
    var app = angular.module('myApp', []);
    app.controller('blogController', function($scope, $http, $compile) {  
        
        $scope.getAllBlogs = function () {
            $http.get("/get-blogs")
            .then(function(response) {
                $scope.blogPosts = response.data.blogs;
                drawLineCharts();
            });
        }

        $scope.getAllBlogs();
    });

    angular.bootstrap(document.getElementById('blogsList'), ['myApp']);

    //All visits total piechart
    $.getJSON( "/blogs-getAllVisits", function( data ) {
        var ctx = document.getElementById("allVisitsPieChart").getContext("2d");
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
            labels: Object.keys(data),
            datasets: [
                {
                    data: Object.values(data),
                    backgroundColor: colorArray,
                    hoverBackgroundColor: colorArray,
                }]
            },
            options: { 
                cutoutPercentage: 60, 
                legend: {
                    display: false
                }, 
            }
        });

        $("[id^='blogBox']").each(function(){
            $(this).css("border-bottom", "15px solid " + colorArray[$(this).attr("index")]);
        });
    });

    //All visits per week
    $.getJSON("/blogs-getAllVisitsPerWeek", function(data) {
        var ctx = $("#allVisitsLineChart");
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: Object.keys(data),
            datasets: [
                merge_options(lineOptions, { data: Object.values(data) })
            ]
            },
            options: { },
        });
    });
     
    //Visits monthly per blog
    var drawLineCharts = function() {
        ngController = $('[ng-controller="blogController"]');
        scope = angular.element(ngController).scope();
        
        for (var i = 0; i < scope.blogPosts.length; i++) {
            (function(i) {
                $.getJSON("/blog-getMonthlyVisits?id=" + scope.blogPosts[i]._id, function(data) {
                    var ctx = document.getElementById("myChart" + i).getContext("2d");
                    var lineChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                        labels: Object.keys(data),
                        datasets: [
                            merge_options(lineOptions, { data: Object.values(data) })
                        ]
                        },
                        options: { },
                    });
                });
            }(i));
        }
    }

var datas = {"2016/1": 2, "2016/2": 0, "2016/3": 27, "2016/4": 16, "2016/5": 2, "2016/6": 2, "2016/7": 3, "2016/8": 6, "2016/9": 12, "2016/10": 2};

var colorArray = ['#FF6384', '#36A2EB', '#FFCE56', '#c7e9b4','#7fcdbb','#41b6c4','#1d91c0','#225ea8','#253494'
    ,'#081d58', '#fff7f3','#fde0dd','#fcc5c0','#fa9fb5','#f768a1','#dd3497','#ae017e','#7a0177','#49006a'];

var lineOptions = {
    legend: { display: false },
    label: "Total visits",
    fill: false,
    lineTension: 0.1,
    backgroundColor: "rgba(75,192,192,0.4)",
    borderColor: "rgba(75,192,192,1)",
    pointBackgroundColor: "#fff",
    pointHoverBackgroundColor: "rgba(75,192,192,1)",
    pointHoverBorderWidth: 2,
    pointRadius: 1,
    pointHitRadius: 10,
    data: Object.values(datas),
    spanGaps: false,
}

function merge_options(baseObj, sourceObj) {
    var newObj = {};
    for (var attrname in baseObj) { newObj[attrname] = baseObj[attrname]; }
    for (var attrname in sourceObj) { newObj[attrname] = sourceObj[attrname]; }
    return newObj;
}
</script>

<script src="/web/js/Chart.bundle.min.js"></script>